# Created by .ignore support plugin (hsz.mobi)
.idea/workspace.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/modules.xml
.idea/study.iml
.idea/vcs.xml
workspace
.project
.classpath
